 body{
    padding: 50% center;
    margin: 50px;
  
}

html {
    background-color: rgb(238, 214, 80);
}

.contenier {
    display: block;
    flex-wrap: wrap;
    grid-row: auto;
    background: aliceblue;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 50rem;
    height: 40rem;
  
 
  
}



.imagem01{
 max-width: 50%;
 margin-bottom: 10%;
 padding-inline-start: 30%;
 
}
.grid-primario{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
}
#circulo{
    display: inline-block;
    height: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 10px;
}

.text{
    display: inline-block;
    font-size: medium;
    vertical-align: top;
    padding: 30px;
    

    
}